
/*-----------------------
 RESET 
 ----------------------*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*-----------------------
 DEBUG
 ----------------------*/

 .debug header{
    background-color: #add8e6;
 }

 .debug .header-top{
    background-color: #daa520;
 }

 /*-----------------------
 COMMON
 ----------------------*/
 
.container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

 /*-----------------------
 HEADER
 ----------------------*/

 header{

 }

 /*-----------------------
 MAIN
 ----------------------*/

 /*-----------------------
 FOOTER
 ----------------------*/
